<!DOCTYPE html>
<html>
<head>
    <title>{{ form.instance.pk|yesno:"Edit Post,New Post" }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ form.instance.pk|yesno:"Edit Post,New Post" }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{{ form.instance.pk|yesno:"Update Post,Create Post" }}</button>
        </form>
    </div>
</body>
</html>
